[Desktop Entry]
Type=Application
Name=GDM Community Greeter
Exec=/usr/bin/gdm-community-greeter
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-Ubuntu-Gettext-Domain=gdm
