Source: tails-greeter
Maintainer: Tails developers <tails@boum.org>
Uploaders: anonym <anonym@riseup.net>,
           intrigeri <intrigeri@boum.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9.20120909~),
               python,
               locales
Build-Depends-Indep: python-distutils-extra
Standards-Version: 3.9.3
X-Python-Version: >= 2.7

Package: tails-greeter
Architecture: all
Section: gnome
Depends: python2.7, python (<< 2.8),
         ${misc:Depends},
         console-setup,
         gconf2,
         gdm3,
         gir1.2-accountsservice-1.0,
         gir1.2-gtk-3.0,
         gir1.2-xkl-1.0,
         gir1.2-webkit-3.0,
         live-config,
         python-dbus,
         python-gobject,
         python-lxml,
         python-pycountry,
         python-pyicu,
         sudo,
         ttf-unifont
Conflicts: gdm-community-greeter
Description: GDM greeter for Tails
 Tails Greeter allows users to choose their preferred language, locale
 settings and keyboard layout. It also allows them to:
   * enable the persistence feature of Tails;
   * set an administration password;
   * enable the Windows Camouflage mode.
