Source: tails-greeter
Maintainer: Tails developers <tails@boum.org>
Uploaders: Max S <govnototalitarizm@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.0.50~),
               python,
               locales
Build-Depends-Indep: python-distutils-extra
Standards-Version: 3.9.3
X-Python-Version: >= 2.5

Package: tails-greeter
Architecture: all
Section: gnome
Depends: python2.7, python (<< 2.8),
         ${misc:Depends},
         console-setup,
         gconf2,
         gdm3,
         gir1.2-gtk-3.0,
         gir1.2-xkl-1.0,
         live-config,
         python-dbus,
         python-gobject,
         python-lxml,
         python-pycountry,
         python-pyicu,
         sudo,
         ttf-unifont
Conflicts: gdm-community-greeter
Description: GDM greeter for Tails
 For setting languages and other variables.

