Source: tails-greeter
Section: python
Priority: optional
Maintainer: Max <govnototalitarizm@gmail.com>
Build-Depends: debhelper (>= 7), python-support, python
Build-Depends-Indep: python-distutils-extra
Standards-Version: 3.8.4
XS-Python-Version: >= 2.5

Package: tails-greeter
Section: gnome
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
          python-dbus, gdm | gdm3, gir1.0-gtk-2.0 | gir1.2-gtk-2.0, python-gobject, python-pybabel, python-xsdvalidate
Provides: ${python:Provides}
Conflicts: gdm-community-greeter, python-gtkme
Description: Shows a TAILS greeter
 For setting languages and other variables.
