#!/usr/bin/make -f

PACKAGE = tails-greeter
DESTDIR = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	install -m 0644 $(CURDIR)/debian/$(PACKAGE).lintian-override \
	                $(DESTDIR)/usr/share/lintian/overrides/$(PACKAGE)
